@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/eot/IRANSansWeb_Black.eot');
    src: url('/fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/eot/IRANSansWeb_Bold.eot');
    src: url('/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/eot/IRANSansWeb_Medium.eot');
    src: url('/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/eot/IRANSansWeb_Light.eot');
    src: url('/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/eot/IRANSansWeb.eot');
    src: url('/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
body{
    font-family: IRANSans !important;
    background-image: url("/images/login/01020101.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6,input, textarea {
    font-family: IRANSans !important;
}
h1 {
    font-weight: bold;
}
.brand-wrapper {
    margin-bottom: 5px; }
.brand-wrapper .logo {
    height: 5px; }

.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden; }
.login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
.login-card .card-body {
    padding: 45px 60px 5px; }
@media (max-width: 422px) {
    .login-card .card-body {
        padding: 35px 24px; } }
.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px; }
.login-card form {
    max-width: 400px; }
.login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal; }
.login-card .form-control::-webkit-input-placeholder {
    color: #919aa3; }
.login-card .form-control::-moz-placeholder {
    color: #919aa3; }
.login-card .form-control:-ms-input-placeholder {
    color: #919aa3; }
.login-card .form-control::-ms-input-placeholder {
    color: #919aa3; }
.login-card .form-control::placeholder {
    color: #919aa3; }
.login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; }
.login-card .login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000; }
@media (max-width: 767px) {
    .login-card-footer-text {
        margin-bottom: 24px; } }
.upf{
    background-color: #f4f7fa
}
.login-card .login-btn2 {
    padding: 13px 20px 12px;
    background-color: red;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; }
.login-card .login-btn2:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000; }
.head_in_header{
    position: relative;
}
@media only screen and (max-width: 768px) {
    .head_in_header {
        display: none;
    }
}
.bgimage{
    background-image: url("/images/register/bg-rg.jpg");
    display: inline-block;
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.span_3{
    color: #5cd08d;
    font-weight: bold;
}
